#body{
    background-color: beige;
}

#title{
    color:red;
    text-align:center;
    font-size: 20px;
}

#in01{
    width:100%;
    box-sizing: border-box;
    border:2px solid darkred;
    border-radius:4px;
    font-size: 10px;
    background-color: antiquewhite;
    background-image: url('');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 40px;
}