<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.boot.mapper.AdminMapper">

    <select id="AdminLogin" resultType="Admin">
        select * from Admin where UserAccount=#{UserAccount} and Password=#{Password}
    </select>

    <select id="selectmis" resultType="Admin">
        select * from Admin
    </select>

    <delete id="DeleteById">
        delete from Admin where AdminId = #{id}
    </delete>

    <insert id="add">
        insert into Admin (UserAccount,Password,AdminLeve) values (#{name},#{password},#{level})
    </insert>

    <select id="SelectById" resultType="Admin">
        select * from Admin where AdminId = #{id}
    </select>

    <update id="updateById">
        update Admin set UserAccount = #{username},Password = #{password},AdminLeve = #{level} where AdminId = #{id}
    </update>

</mapper>